form {
  display: flex;
  flex-direction: column;
}
form > span {
  font-size: 12px;
}
form input {
  width: 300px;
  border: 1px solid #d3d3d3;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fcf9f9;
  padding-left: 10px;
  margin: 5px 0 25px;
}
.back-button,
.submitform {
  color: #fff;
  background-color: #5c47d3;
  border: 1px solid #5c47d3;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}
.error {
  border: 1px solid red;
}
.errormssg {
  color: red;
  font-size: 12px;
}
.hidden {
  display: none;
}
.icon {
  cursor: pointer;
  position: relative;
  width: 20px;
  right: 30px;
  top: 0px;
}
